[user]
	name = Guillaume Ongenae
	email = guillaume.ongenae@gmail.com

[github]
	user = g-ongenae

[alias]
	a = add
	amend = commit --amend
	b = branch
	br = checkout -b
	c = commit
	cm = commit -m
	co = checkout
	contrib = shortlog --summary --numbered
	d = "!f() { open -a 'github desktop'; }; f"
	df = diff --word-diff
	f = flow
	h = help
	i = init
	l = log --oneline -n 20
	ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
	log = log -n 10
	ls = stash list
	p = push
	pop = stash apply
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	revert = checkout --
	ri = "!f() { mv .git ~/.Trash && git init; }; f"
	show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
	squash = rebase -i
	st = status
	save = stash save
	unstage = checkout -- HEAD
	unstage-hard = reset --hard HEAD

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
