[user]
  name = Guillaume Ongenae
  email = guillaume.ongenae@algoan.com

[github]
  user = g-ongenae

[gitlab]
  user = g-ongenae

[bitbucket]
  user = g_ongenae

[alias]
  ## Basic
  i = init
  sm = submodule
  t = tag

  ## Commit...
  a = add
  c = commit
    # Commit with committizen (git-cz)
  cz = "!sh -c \"\
    cd "$(git rev-parse --show-toplevel || echo .)" ;\
    [ -f package.json ] && npm run commit || make commit ;\
    cd -\""
  co = checkout
    # Checkout a branch from a specific remote (by default origin/develop)
  ct = "!sh -c \"git checkout --track "${1:-origin}/${2:-develop}"\" -"
  cp = cherry-pick
  r = rebase
    # Create a "WIP" commit, commiting all the changes without running hooks
  wip = "!sh -c \"git add . && git commit -n -m "WIP ${1}"\" -"
	unwip = reset --mixed HEAD~1                      # Undo a "WIP" commit, staging the changes

  ## Branch
  b = branch
    # Create a [b]ack[u]p of the current branch (useful to create before a merge or rebase)
  bu = "!sh -c \"git branch -c "backup/$(git rev-parse --abbrev-ref HEAD)"\" -"
  cu = rev-parse --abbrev-ref HEAD                  # Get the current branch name (cu for current)
    # Create a new feature branch
  feat = "!sh -c \"git checkout develop ; \
    git pull origin develop ; \
    git checkout -b "feature/${1}"\" -"
    # Create a new hotfix branch
  hotfix = "!sh -c \"git checkout master ; \
    git pull origin master ; \
    git checkout -b "hotfix/${1}"\" -"
  m = merge
    # Print the last commit of each branch, order by date, source: https://stackoverflow.com/a/30076212
  recent = "!sh -c \"git for-each-ref --sort=-committerdate refs/heads \
    --format='%(HEAD)%(refname:short)|%(committerdate:relative)|%(subject)|%(authorname)' \
    | column -ts '|'\" -"
  sw = switch

  ## Info
  ci = "!sh -c \"hub ci-status HEAD\""              # Show the status of the last commit on the CI
  df = diff --word-diff                             # To show diff by words
  h = help
  l = log --oneline -n 10
  log = log -n 10
  s = status
  sh = show --pretty=""

  ## With remote
    # List all of the branches on the remote (ex: git br [remote])
  br = "!sh -c \"git ls-remote -q --heads \"${1:-origin}\" | sed -nE 's/^.{30,}refs\\/heads\\/(.+)$/\\1/p'\" -"
  cl = clone --recurse-submodules
  fe = fetch
  pl = pull
  ps = push
    # Push and create the current branch to the [remote] (e.g. git pu mine, default origin)
  pu = "!sh -c \"git push --set-upstream "${1:-origin}" "$(git rev-parse --abbrev-ref HEAD)"\" -"
    # Checkout a PR (ex: git pr <pr-number> [remote])
  pr = "!sh -c \"git fetch -fu "${2:-origin}" "refs/pull/${1}/head:pr/${1}" && git checkout "pr/${1}"\" -"
  re = remote

  ## Stash commands
  apply = stash apply                               # Apply the stash and keep it in the stash history
  ls = stash list                                   # List all stash
  pop = stash pop                                   # Apply and drop the stash
  sa = stash save                                   # Stash all the files in the repository
  sf = stash push --                                # Stash file, only those given <files>
    # Show the content of the [nth] stash
  ss = "!sh -c \"git stash show -p stash@{"${1:-'0'}"}\" -"
    # Drop the content of the [nth] stash
  sd = "!sh -c \"git stash drop stash@{"${1:-'0'}"}\" -"

  ## Clean commands
  amend = commit --amend                            # Correct a commit (need -m for message or -a <file>)
  d = "!sh -c \"git rebase --onto '$1^' '$1'\" -"   # To delete a commit based on its SHA
  dl = "!sh -c \"git reset HEAD~'$1'\" -"           # To delete last [n] commits
  fix = commit --amend --no-edit                    # Make change to the last commit (need git add <file>)
  rs = restore
  rv = revert
  unst = checkout -- HEAD                           # Unstage changes
  unst-hard = reset --hard HEAD                     # Unstage changes and throw

  ## Bisection
  bi = bisect                                       # Run with start or run
  bid = bisect bad                                  # Please do not make a "bide"
  big = bisect good                                 # Man, it's good, that's big!

  ## Miscellaneous
    # Remove the git lock - see: https://stackoverflow.com/questions/7860751
  unlock = "!sh -c \"rm -f "$(git rev-parse --show-toplevel || echo .)/.git/index.lock"\""
  fork = "!sh -c \"gh repo fork "$(git config --get remote.origin.url)"\""
  f = flow                                          # For gitflow, see: https://github.com/nvie/gitflow
  k = "!sh -c \"open -a 'github desktop'\""         # To open GitHub Desktop, name k for gitk

[hub]
  protocol = ssh

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  excludesfile = "${HOME}/Documents/prog/dotfiles/git/.gitignore_global"
